#page {
	background-color: #c7c7c7;
	border:1px solid black;
	text-align:left;
	width:60%;
	padding:20px;
	height:450px;
	margin: auto;
}

h1 {
	font-size:30px;
	font-family:Arial, sans serif;
	text-align: center;
}

h2 {
	font-size: 16px;
	font-family: Arial, sans-serif;
	text-align: center;
}

img.pendu {
	float:right;
}

#mot {
	margin:30px 0 0 0;
	clear:both;
	top:100px;
	margin: auto;
}

#mot td {
	padding:10px;
	background-color:#1ee193;
	border:2px inset black;
	width:30px;
	height:30px;
	font-weight:bold;
	font-size:1.5em;
	text-align:center;
	margin: auto;
}

#mot p{
	visibility:hidden;
	margin: auto;
}

#clavier{
	border:4px outset black;
	padding:10px;
	background-color:#2b80d5;
	margin: auto;
}

#clavier td {
	background-color:white;
	border:1px solid black;
	width:25px;
	height:25px;
	text-align:center;
	font-weight:bold;
	cursor:pointer;
	margin: auto;
}

.correct {
	background-color: mediumseagreen !important;
}

.incorrect {
	background-color: indianred !important;
}

.fail {
	margin: auto;
	text-align: center;
}

.checkboxFail{
	width: 20px;
	height: 20px;
}

.restart{
	text-align: center;
	margin: auto;
}

a.lien{
	color:blue;
	text-decoration:none;
	font-size:20px;
}

a.lien:hover{
	color:red;
	font-weight:bold;
	text-decoration:underline;
}